[submodule "ConfigurationService"]
	path = ConfigurationService
	url = https://github.com/onlinejavafullstacktraining/ConfigurationService
[submodule "EurekaService"]
	path = EurekaService
	url = https://github.com/onlinejavafullstacktraining/EurekaService

[submodule "LicenseService"]
	path = LicenseService
	url = https://github.com/onlinejavafullstacktraining/LicenseService

[submodule "OrganizationService"]
	path = OrganizationService
	url = https://github.com/onlinejavafullstacktraining/OrganizationService

[submodule "GatewayServer"]
	path = GatewayServer
	url = https://github.com/onlinejavafullstacktraining/GatewayServer
