[submodule "ConfigurationService"]
	path = ConfigurationService
	url = https://github.com/onlinejavafullstacktraining/ConfigurationService.git
[submodule "EurekaService"]
	path = EurekaService
	url = https://github.com/onlinejavafullstacktraining/Spring-boot-Microservices/EurekaService.git

[submodule "LicenseService"]
	path = LicenseService
	url = https://github.com/onlinejavafullstacktraining/Spring-boot-Microservices/LicenseService.git

[submodule "OrganizationService"]
	path = OrganizationService
	url = https://github.com/onlinejavafullstacktraining/Spring-boot-Microservices/OrganizationService.git

[submodule "zuulservice"]
	path = GatewayService
	url = https://github.com/onlinejavafullstacktraining/Spring-boot-Microservices/GatewayService.git


